<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin Control</title>

    <!-- My -->
    <link rel="stylesheet" href="{% static 'admin/main.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="margin-top-50 panel panel-default">
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><a href="{% url 'site_index' %}">Главная</a></li>
                <li><a href="{% url 'admin_index' %}">Админка</a></li>
            </ol>
            {% block container %}
            {% endblock %}
        </div>
    </div>
</div>

<!-- Bootstrap & jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>