{% extends "admin/base.html" %}

{% block container %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4 class="text-center">
            Редактирование пользователя <strong>{{ selected_user }}</strong>
        </h4>
        {% if errors %}
        <div class="alert alert-danger" role="alert">
            {{ errors }}
        </div>
        {% endif %}
        <form action="{% url 'admin_user_edit' selected_user.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>
    </div>
</div>
{% endblock %}
