{% extends "site/base.html" %}

{% block container %}
<div class="main-title margin-top-p13">
    <p class="header text-center">
        Привет,
        {% if user.is_authenticated %}<span class="username">{{ user }}</span>{% else %}Анон{% endif %}!
    </p>
    <p class="content text-justify">
        Добро пожаловать на страницу-заглушку.
        На этой странице отображается имя авторизованного пользователя.
        Ты можешь
        {% if not user.is_authenticated %}
            <a href="{% url 'auth_login' %}">авторизоваться</a>
            или
            <a href="{% url 'auth_register' %}">зарегистрироваться</a>
        {% else %}
            авторизоваться или зарегистрироваться
        {% endif %}
        и увидеть своё имя в заголовке. Это реально прикольно!
        А после авторизации, всегда можно сделать
        {% if user.is_authenticated %}
            <a href="{% url 'auth_logout' %}">логаут</a>
        {% else %}
            логаут
        {% endif %}
        из системы. Если ты являешься админом, ты можешь посетить
        {% if user.is_authenticated %}
            <a href="{% url 'admin_index' %}">админку</a>
        {% else %}
            админку
        {% endif %}
        , которая постепенно будет развиваться.
        <strong>Just do it!</strong>
    </p>
</div>
{% endblock %}
