{% extends "auth/base.html" %}

{% block container %}
<div class="margin-top-50 panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Вход</h3>
    </div>
    <div class="panel-body">
        {% if registered %}
            <div class="alert alert-info" role="alert">
                Вы успешно зарегистрированы!
                Можете авторизоваться используя ранее введенные имя пользователя и пароль.
            </div>
        {% endif %}
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                {{ errors }}
            </div>
        {% endif %}
        {% if not user.is_authenticated %}
            <form action="{% url 'auth_login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Вход</button>
                <a class="btn btn-link" href="{% url 'auth_register' %}">Регистрация</a>
            </form>
        {% else %}
            <div>
                Вы уже авторизованы! <a href="{% url 'auth_logout' %}">Выйти</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
